<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>Principle areas of Cabinet office spending 2010/2011</title>
        <link href="style/main.css" rel="stylesheet">
    </head>
    <body>
    	<div id=container>
	        <div id="header">
	            <div id="legend">
	                Loading spending data
	            </div>
	            <div id="daterange">
	                <label for="range">
	                    in period:
	                </label>
	                <select name="id" id="range">
	                </select>
	            </div>
	            <div id="grouping">
	                <label for="groupby">
	                    grouped by:
	                </label>
	                <select name="id" id="groupby">
	                </select>
	            </div>
	        </div>
	        <div id="chart"></div>
        </div>
        
        <script type="text/javascript" src="js/jquery-1.7.js"></script>
        <script type="text/javascript" src="js/underscore.js" ></script>
        <script type="text/javascript" src="js/backbone.js" ></script>
        <script type="text/javascript" src="js/miso.ds.deps.js"></script>
        <script type="text/javascript" src="js/d3.v2.min.js"></script>
        <script type="text/javascript" src="js/accounting.js"></script>
        <script src="js/main.js"></script>

        <script type="text/template" id="grouping">
          <% _.each(columns, function(column) { %>
            <option value="<%= column.name %>"><%= column.name %></option>
          <% }); %>
        </script>

        <script type="text/template" id="dateRanges">
          <% _.each(dateRanges, function(range) { %>
            <option value="<%= range %>"><%= range %></option>
          <% }); %>
        </script>
    </body>
</html>
